
/* Personnaliser la barre de défilement */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  margin-left: 4px;
}

/* Barre de défilement piste */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 4px;
}

/* Barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #fd8a70;
  border-radius: 6px;
}

/* Barre de défilement au survol */
::-webkit-scrollbar-thumb:hover {
  background-color: #fc6544;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.min-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 7px;
  margin-left: 2px;
}
/*.react-international-phone-input-container{*/
/*    width: 300px !important;*/
/*}*/
.react-international-phone-input{
  width: 450px
}

tbody > tr:nth-of-type(even) {
  @apply bg-gray-250;
}

thead {
  @apply bg-gray-250;
}